<section class="todoapp">
    <header class="header">
      <h1>Daily Tasks</h1>
      <input class="new-todo" placeholder="Things to get done" 
            [(ngModel)]="newTodo" (keyup.enter)="addTodo()" autofocus>
    </header>
    <section class="main">
      <ul class="todo-list">
        <li *ngFor="let todo of todos" [ngClass]="{completed: todo.isDone, editing: todo.editing}">
          <div class="view">
            <input type="checkbox" class="toggle" [checked]="todo.isDone" (click)="toggleTodo(todo)">
            <label (dblclick)="todo.editing = true">{{todo.title}}</label>
            <button class="destroy" (click)="destroyTodo(todo)"></button>
          </div>
          <input #updatedTodo [value]="todo.title" (blur)="updateTodo(todo, updatedTodo.value)" 
          (keyup.escape)="todo.editing = false" (keyup.enter)="updateTodo.value"
          class="edit">
          
        </li>
        <!-- <li>
          <div class="view">
            <input type="checkbox" class="toggle">
            <label for="title">Angular Todo App 2</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Rule the web">
        </li> -->
      </ul>
    </section>
  
  
  <footer class="footer">
    <span class="todo-count"> <strong>{{activeTasks}}</strong>item left</span>
    <ul class="filters">
      <li>
        <a [routerLink]="['/']" [class.selected]="path === 'all'">All</a>
      </li>
      <li>
        <a [routerLink]="['/active']" [class.selected]="path === 'active'">Active</a>
      </li>
      <li>
        <a [routerLink]="['/completed']" [class.selected]="path === 'completed'">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>
  </section>
  
  
